<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel='stylesheet' type='text/css' media='screen' href='{% static 'base/style.nav.css' %}'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/031030b76d.js" crossorigin="anonymous"></script>

    <title>Página Principal</title>
    
</head>
<body>
    <div class="container">
        <div class="navegacion">
            <ul>
                <li>
                    
                    <span class="icono">PREVERI-LAB</span>
                    <span class="titulo">{{request.user|title}}</span>
                    
                </li>
                <li>
                    <a href="#">
                    <span class="icono"><i class="fa-solid fa-house-user"></i></span>
                    <span class="titulo">Panel de control</span>
                </a>
                </li>                
                <li>
                    <a href="#">
                    <span class="icono"><i class="fa-solid fa-list-check"></i></span>
                    <span class="titulo">Revisión de fallos</span>
                    </a>
                </li>                
                <li>
                    <a href="#">
                        <span class="icono"><i class="fa-solid fa-money-check"></i></span>
                        <span class="titulo">Hacer revisión</span>
                    </a>
                 </li>                
                 <li>
                    <a href="#">
                        <span class="icono"><i class="fa-solid fa-paper-plane"></i></span>
                        <span class="titulo">Enviar ticket</span>
                    </a>
                </li>                
                <li>
                    <a href="#">
                        <span class="icono"><i class="fa-solid fa-people-group"></i></span>
                        <span class="titulo">¿Quiénes somos?</span>
                    </a>
                </li>                
                <li>
                    <a href="{% url 'logout' %}">
                        <span class="icono"><i class="fa-solid fa-right-from-bracket"></i></span>
                          <span class="titulo">Cerrar sesión</span>
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="cardbox">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Earnings (Monthly)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

</body>
</html>