<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'base/style.gen.css' %}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/031030b76d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LeqKv8eAAAAAH8j3dNTd0vii0HL8wP02vyw0Qq7"></script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LeqKv8eAAAAAH8j3dNTd0vii0HL8wP02vyw0Qq7"></script>
    <script>
    grecaptcha.enterprise.ready(function() {
    grecaptcha.enterprise.execute('6LeqKv8eAAAAAH8j3dNTd0vii0HL8wP02vyw0Qq7', {action: 'login'}).then(function(token) {
         ...
        });
    });
    </script>
</head>

<body>
    
    <div id="body" class="container">
    {% block content %}
    {% if request.user.is_authenticated %}
        {% block bienvenida %}
        <div class="forms-cotainer">
            <div class="iniciar-registrar">
                <h2 id="welcome" class="title">Hola,</h2><h2 id="username" class="title" align="right">{{request.user|title}}</h2>
                <a href="{% url 'home' %}"><input  type="submit" value="Ir al Panel" class="btn solid"></a>
                <a href="{% url 'logout' %}"><input  type="submit" value="Cerrar Sesión" class="btn solid"></a>
            </div>
        </div>
        {% endblock bienvenida %}
    {% else %}
        <div class="forms-cotainer">
            <div class="iniciar-registrar">

                <form method="POST" action="" class="crear-sesion-form">

                    {% csrf_token %}

                    <h2 class="title">Crear cuenta</h2>

                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        {{ form.username }}
                    </div>
                    
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        {{ form.first_name }}
                    </div>
                    
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        {{ form.last_name }}
                    </div>

                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        {{form.email}}
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        {{form.password1}}
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        {{form.password2}}
                    </div>

                   <div>
                       <div class="g-recaptcha" data-sitekey="6LeqKv8eAAAAAH8j3dNTd0vii0HL8wP02vyw0Qq7"></div>
                   </div>

                    <input type="submit" value="Crear" class="btn solid">
                    <div class="iniciar">
                        <a href="{% url 'login' %}"><input type="button" value="Ya tengo una cuenta" class="btn solid"></a>
                    </div>

                </form>
                
            </div>
        </div>
        
    </div>
    
    {% endif %}
    {% endblock content %}

    {% block registro %}
    {% endblock registro %}
</body>

</html>