*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    min-height: 200vh;
    background-color: #F5F5F5;
}

.container{
    position: relative;
    width: 100%;
    background-color: rgb(22, 19, 19);
}

.navegacion{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #0a0303;
    border-left: 10px solid #121212;
    transition: 0.5s;
    overflow: hidden;
}

.mavigacion ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navegacion ul li{
    position: relative;
    width: 200%;
    list-style: none;
}

.navegacion ul li:hover{
    background: #F5F5F5;
}

.navegacion ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navegacion ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #F5F5F5;
}

.navegacion ul li:hover a{
    color: #121212;
}

.navegacion ul li a .icono{
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navegacion ul li a .titulo{
    position: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.main{
    position: absolute;
    width: calc(100% - 300px);
    Left: 300px;
    min-height: 100vh;
    padding: 50px;
    background-color: #F5F5F5;
    transform: 0.5s;
}




